input.btn.btn-primary.circled {
    background-color: #FFF;
    color: black;
}
.text__col{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.about__h3{
    color: #fff;
    font-size: 17px;
    font-weight: bold;

}
.about__bt{
    border: 10px;
    border-radius: 3px;
}
.main__footer__h3{
    padding-top: 8px;
   text-align: center;
   margin-top: 15 0px
  
}
.bottom__footer{
    
    border-bottom: 2px solid #76c8a1;
}
.heading-left__h2{

    text-transform: uppercase;
}
.input__buttom{

    margin-top: 20px 0;
}
.content__img0{

    display:inline-block;
    margin-left: 60px;
}
.img{
    height: 170px;
    width:250px;
    /* border: 2px solid rgb(39, 37, 37); */
    border-radius: 16px;
    margin: 10px 16px; ;
    
}

.content__h3{

    text-align: center;
    text-transform: uppercase;

}
.content__img {
    margin:0 50%;
    justify-content:center;
    display:flex;

}
.bottom__colorh3{
    border-bottom: 2px solid #76c8a1;
}
.bg-light{

    background-color: rgb(97, 60, 15);
}
body{

    font-size: 12px;
}
/* .content__img0{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} */
.im1:hover{
    height: 200px;
    width:290px;
    transition: 0.6s;
    border: 2px solid rgb(72, 74, 74);
}
.im2:hover{
    height: 200px;
    width:290px;
    transition: 0.6s;
    border: 2px solid rgb(72, 74, 74);
}
.im3:hover{
    height: 200px;
    width:290px;
    transition: 0.6s;
    border: 2px solid rgb(72, 74, 74);
}
.im4:hover{
    height: 200px;
    width:290px;
    transition: 0.6s;
    border: 2px solid rgb(72, 74, 74);
}
.im5:hover{
    height: 200px;
    width:290px;
    transition: 0.6s;
    border: 2px solid rgb(72, 74, 74);
}
.im6:hover{
    height: 200px;
    width:290px;
    transition: 0.6s;
    border: 2px solid rgb(72, 74, 74);
}
.cth1:hover{
   color:red;
    transition: 0.8s;
}
.cth2:hover{
    color:red;
    transition: 0.8s;
}
.cth3:hover{
   color:red;
    transition: 0.8s;
}
.cth4:hover{
   color:red;
    transition: 0.8s;

}
.cth5:hover{
   color:red;
    transition: 0.8s;
}
.cth6:hover{
   color:red;
    transition: 0.8s;
}
.img-fluid{

    object-fit: cover;
}
/* -webkit-background-clip: text;
-background-clip: text; */
.content_marketing__p{

    padding: 0 15px;
    font-size: 16px;
    line-height: 1.9;
   
}
.content_marketing_bg{
    color:black;
    margin: 0 10%;
    font-size: 16px;
}