
.table_1{

 text-align: center;
 border: 2px solid rgb(11, 9, 9);
color: black;
}
 .contact{

 font-size: 60px;
 text-align: center;
 color:red;
 }   
.row1{

 background-color: #24ace1;
 color: white;
}
.row2{
 color:red;
 font-weight: 600;
 

}
