.contact{

    font-size: 60px;
    text-align: center;
    }
                .table_menu{
    
                    width: 190px;
                }
                .table_menu0{
    
                    background-image: -webkit-linear-gradient(left, #f798fe, #612be1);
                    color: white;
                }
                h1{
                    text-align: center;
                    margin-bottom: 20px;
                }
                .